# Node modules
/node_modules/

# Environment variables
.env

# Log files
*.log

# Build output
/dist/
/build/

# IDE or editor settings
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# NPM debug logs
npm-debug.log*
